
.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; // Tüm yüksekliği kapla
}

form {
  display: flex;
  flex-direction: column;
  width: 300px; 
  margin: auto; 
}

mat-form-field {
  margin-bottom: 10px; 
}
img{
  width: 80px;
  height: 80px;
  margin:auto;
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.3s;
}