<div *ngIf="blog" class="blog-detail-container">
    <mat-card>
      <mat-card-header>
        <h2>{{ blog.username}}</h2>
        <mat-card-title>{{ blog.title }}</mat-card-title>
        <mat-card-subtitle>{{ blog.author }} - {{ blog.date }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="blog.imageUrl" alt="{{ blog.title }}">
      <mat-card-content>
        <p>{{ blog.content }}</p>
      </mat-card-content>
        <div class="like-section">
          
          <button mat-button (click)="likePost()">
            <mat-icon>favorite</mat-icon>
          </button>
          <span>{{ blog.likeCount }}</span>
        </div>
      
    </mat-card>
  </div>
  
  <!-- Eğer blog verisi yüklenmediyse -->
  <div *ngIf="!blog">
    <p>Blog detayı yükleniyor veya bulunamadı.</p>
  </div>
  