.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding: 20px;
}

.blog-detail-container {
  width: 60%;  
  margin-bottom: 40px;
}

.blog-card {
  width: 100%;  
}

.like-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
  
  button {
    margin-right: 5px;
  }
}

.comments-section {
  width: 60%;  
}

.comment-card {
  margin-bottom: 20px;
}

.loading, .no-comments {
  text-align: center;
  margin-top: 20px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.comment-form {
  margin-top: 20px;
  padding: 16px;
  border-radius: 4px;
  background-color: #f9f9f9; // Arka plan rengi
}

.full-width {
  width: 100%; // Genişliği tam yap
}