.blog-detail-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 20px;
}

mat-card {
  max-width: 800px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0; 
  border-radius: 12px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

mat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

mat-card-title {
  font-size: 1.3rem;
  font-weight: bold;
  
}

mat-card-subtitle {
  color: #757575; 
}

mat-card-content p {
  color: #333;
  line-height: 1.6;
}


.like-section, 
.eyes {
  display: flex;
  align-items: center;
}

.like-section {
  margin-right: 10px; 
}

.like-section mat-icon {
  color: #f44336; 
}

.like-section span, 
.eyes span {
  margin-left: 8px; 
  font-size: 1.1rem;
}

.eyes mat-icon {
  color: #757575;
}


.mat-card-actions {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  margin-top: 10px;
}



.comment-card mat-card-content {
  padding: 16px;
  color: #333;
  line-height: 1.6;
}


.comment-form {
  margin-top: 20px;
  max-width: 800px; 
  width: 100%; 
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.comment-form mat-form-field {
  width: 100%;
}

.comment-form mat-card-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px; 
}


.comment-form, .comment-card {
  max-width: 600px; 
  margin: 20px auto; 
  border: 1px solid #e0e0e0; 
  border-radius: 8px; 
  box-shadow: 0 2px 8px rgba(9, 11, 165, 0.1); 
  padding: 5px; 
  background-color: #ffffff; 
}

.comment-form {
  margin-top: 20px; 
}

mat-card-header, mat-card-content, mat-card-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-card:hover {
  transform: translateY(-3px); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end; 
  width: 100%;
}

.comment-card p {
  color: #333; 
  line-height: 1.4; 
}

h3 {
  text-align: center; 
  margin-bottom: 15px; 
}

.mat-spinner {
  display: block;
  margin: 20px auto; 
}
.no-comments {
  text-align: center; 
  font-size: 1.2rem; 
  font-weight: 600;
  color: #757575; 
  background-color: #f0f0f0;
  padding: 15px; 
  border-radius: 8px; 
  margin: 20px auto; 
  max-width: 600px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}
