<div *ngIf="blog" class="blog-detail-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ blog.name }}</mat-card-title>
      <mat-card-subtitle class="subtitle">
        <span> Posted by {{ blog.username }}</span>
        <span class="separator">|</span>
        <span> {{ blog.date | date: 'short' }}</span>
      </mat-card-subtitle>
      <button class="cancel-buton" mat-button (click)="deletePost()">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-card-header>
    <img mat-card-image [src]="blog.imgUrl" alt="blog image">
    <mat-card-content>
      <p>{{ blog.content }}</p>
    </mat-card-content>
    <div class="mat-card-actions">
      <div class="like-section">
        <button mat-button (click)="likePost()">
          <mat-icon>favorite</mat-icon>
          <span>{{ blog.likeCount }}</span>
        </button>
      </div>
      <div class="eyes">
        <button mat-button>
          <mat-icon>remove_red_eye</mat-icon>
          <span>{{ blog.viewCount }}</span>
        </button>
      </div>
    </div>
    
  </mat-card>
</div>


<mat-card class="comment-form ">
  <mat-card-header>
    <mat-card-title>Yorum Yap</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Kullanıcı Adı</mat-label>
      <input matInput [(ngModel)]="newCommentPostedBy" required />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Yorumunuz</mat-label>
      <textarea matInput [(ngModel)]="newCommentContent" required></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="submitComment()">Yorumu Gönder</button>
  </mat-card-actions>
</mat-card>

<!-- Eğer blog verisi yüklenmediyse -->
<div *ngIf="!blog">
  <p>Blog detayı yükleniyor veya bulunamadı.</p>
</div>

<!-- Yorum yükleniyorsa -->
<div *ngIf="isLoadingComments; else commentSection">
  <mat-spinner></mat-spinner>
</div>

<!-- Yorumlar kısmı -->
<ng-template #commentSection>
  <div *ngIf="comments.length > 0; else noComments">
    <h3>Yorumlar</h3>
    <div *ngFor="let comment of comments">
      <mat-card class="comment-card">
        <mat-card-header>
          <mat-card-title>{{ comment.postedBy }}</mat-card-title>
          <mat-card-subtitle *ngIf="comment.date">{{ comment.date | date:'short' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ comment.content }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="deleteComment(comment.id)" [disabled]="!isAdminUser">Sil</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <ng-template #noComments>
    <p>Henüz yorum yok.</p>
  </ng-template>
</ng-template>

