
.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; // Tüm yüksekliği kapla
}

form {
  display: flex;
  flex-direction: column;
  width: 300px; 
  margin: auto; 
}

mat-form-field {
  margin-bottom: 10px; 
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 10px;   
}
img{
  width: 80px;
  height: 80px;
  margin:auto;
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.3s;
}
.register-link {
  text-align: center;
  margin-top: 20px;
  
  p {
    font-size: 1rem;
    color: #757575;
    font-weight: 400;

    a {
      color: #1976d2;
      font-weight: bold;
      text-decoration: none;
      transition: color 0.3s ease, text-decoration 0.3s ease;
      
      &:hover {
        color: #004ba0;
        text-decoration: underline;
      }
    }
  }
}
