<div class="profile-container">
  <h2>Profil Ayarları</h2>
  
  <div class="user-info">
    <h3>Kullanıcı Adı: {{ username }}</h3>
  </div>

  <form [formGroup]="userForm">
    <mat-form-field appearance="fill">
      <mat-label>Kullanıcı Adı</mat-label>
      <input matInput formControlName="username" required>
      <mat-error *ngIf="userForm.get('username')?.hasError('required')">
        Kullanıcı adı gereklidir.
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Kullanıcı Adını Güncelle</button>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Yeni Parola</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="userForm.get('password')?.hasError('required')">
        Parola gereklidir.
      </mat-error>
      <mat-error *ngIf="userForm.get('password')?.hasError('minlength')">
        Parola en az 6 karakter olmalıdır.
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="accent" type="submit">Parolayı Güncelle</button>
    </div>
  </form>
</div>

