<div class="profile-container">
    <h2>Profil Bilgileri</h2>
  
    <div>
        <img src="https://media.istockphoto.com/id/1300845620/tr/vekt%C3%B6r/kullan%C4%B1c%C4%B1-simgesi-d%C3%BCz-beyaz-arka-plan-%C3%BCzerinde-izole-kullan%C4%B1c%C4%B1-sembol%C3%BC-vekt%C3%B6r-ill%C3%BCstrasyonu.jpg?s=1024x1024&w=is&k=20&c=TA3TD5g1CfgZ3gYwsuD7n0FPbUnJmJ0Qjc2GObvFTWM="alt="profil-avatar">   
        <button  mat-button >Avatarı Güncelle</button>
    </div>
    
  
    <!-- Kullanıcı Adı Değiştirme -->
    <div class="username-section">
      <label for="username">mislinacetiner</label>
      <!-- <input id="username" [(ngModel)]="username" /> -->
     <button mat-button >Kullanıcı Adını Güncelle</button>
    </div>
  
    <!-- Şifre Değiştirme -->
    <div>
      <button mat-button >Şifreyi Değiştir</button>
    </div>
  </div>
  